.embla {
    width: 100%;
    max-height: 60vh;
    position: relative;
    background-color: #f7f7f7;
    border-radius: 1rem;
}

.embla__viewport {
    width: 100%;
    overflow: hidden;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    display: flex;
    user-select: none;
    margin-left: -10px;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.embla__slide {
    width: 100%;
    height: auto;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 1rem;
}

.embla__slide__inner:hover img {
    z-index: 0;
    transform: scale(1.25);
}

.embla__slide__inner {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.embla__slide__inner h1 {
    position: fixed;
    z-index: 1;
    top: 0;
    margin: 0;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 60vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s ease-in-out;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0, .95) 0%, rgb(36, 36, 36, .85) 50%, rgb(66, 66, 66, .75) 100%);
}

.movieYear {
    opacity: .8;
    margin: 8px 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.movieDesc {
    width: 60%;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.embla__slide__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .25s ease-in-out;
}

.embla__button {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    padding: 0;
    width: 3.5rem;
    height: 3.5rem;
    transition: .2s ease-in-out;
    transform: translateY(-50%);
    border: 3px solid #F7F7F7;
    border-radius: 50%;
}

.embla__button:hover {
    background-color: #5930a7;
    border: 3px solid #5930a7;
    box-shadow: rgba(202, 202, 202, 0.25) 0px 3px 8px;
}

.embla__button:disabled {
    cursor: default;
    opacity: 0;
}

.embla__button__svg {
    width: 100%;
    height: 100%;
}

.embla__button--prev {
    left: 1.5rem;
}

.embla__button--next {
    right: 1.5rem;
}

.embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
}

.embla__dot {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    display: flex;
    align-items: center;
}

.embla__dot:after {
    background-color: #efefef;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
}

.embla__dot.is-selected:after {
    background-color: #663AB7;
    opacity: 1;
}



@media only screen and (max-width: 1080px) {
    .embla__slide__inner h1 {
        font-size: 24px;
        padding: 2rem 6rem;
    }

    .embla__button {
        width: 3rem;
        height: 3rem;
    }

    .embla__button--next {
        right: 1rem;
    }

    .embla__button--prev {
        left: 1rem;
    }

    .movieDesc {
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    .movieDesc {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .embla__slide__inner h1 {
        font-size: large;
        padding: 0 4rem;
        text-align: center;
        align-items: center;
    }

    .embla__button {
        width: 2.5rem;
        height: 2.5rem;
    }

    .embla__button--next {
        right: 4px;
    }

    .embla__button--prev {
        left: 4px;
    }
}