* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #606060;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 4rem 10rem;
}

footer {
    width: 100%;
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #666666;
    background: #f1f1f1;
}

.social {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    margin: 0 4px;
    padding: 8px;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .2s;
}

.social a:hover {
    opacity: 1;
    background: #e7e7e7;
}

.pageContainer {
    padding-top: 3rem;
    overflow-x: hidden;
    min-height: calc(100vh - 256px);
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.notFound h3 {
    opacity: .75;
}

.notFound a {
    margin: 24px 0;
    color: #663AB7;
    font-weight: 500;
}


/* ==== Custom Scrollbar ==== */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}


/* === Text === */
.sectionTitle {
    position: relative;
    z-index: 2;
    height: auto;
    color: #663AB7;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 12px;
    border-left: 4px solid #52299e;
}

.text-center {
    text-align: center;
}


/* === Display === */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
}


/* === Button === */
.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #f0f0f0;
    background: #663AB7;
    transition: .2s ease;
    padding: 10px 24px;
    margin: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.btn-main:hover {
    background: #5022a5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-main:active {
    background: #663AB7;
}


/* === Margin & Padding === */
.m-2 {
    margin: 16px;
}

.my-1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.ml-1 {
    margin-left: 8px;
}

.ml-2 {
    margin-left: 16px;
}

.mr-2 {
    margin-right: 16px;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.px-1 {
    padding-left: 8px;
    padding-right: 8px;
}


/* === Carousel === */
.slider {
    margin: 48px 0;
}

.sliderTitle {
    font-size: 18.7px;
    font-weight: bold;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.carousel {
    overflow-x: hidden;
    position: relative;
    margin-top: -1rem;
}

.carousel::after {
    content: '';
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.inner-carousel {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 0;
}

.item {
    width: 100%;
    height: auto;
    margin-top: 4px;
    margin-right: 24px;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}

.item img {
    max-width: 240px;
    max-height: 320px;
    pointer-events: none;
    border-radius: 1rem;
}

.itemImg {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.movieTitle {
    margin: 4px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.ratingWrapper {
    position: absolute;
    top: -1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieRating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #f4f4f4;
    font-weight: 500;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background: #6037B3;
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
    flex: 0 0 100%;
    height: 360px;
    width: 100%;
    color: #eaeaea;
    background: #666666;
}



/* Media Query */
@media only screen and (max-width: 1600px) {
    .container {
        padding: 3rem 6rem;
    }

    .pageContainer {
        min-height: calc(100vh - 176px);
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 2.5rem 2rem;
    }

    .carousel::after {
        width: 30px;
    }

    .item {
        margin-right: 12px;
    }

    .item img {
        max-width: 125px;
        height: auto;
    }

    .movieTitle {
        height: 36px;
        font-size: 15px;
        line-height: 18px;
    }

    .movieRating {
        width: 36px;
        height: 36px;
        font-size: 14px;
        border: 2px solid #FFFFFF;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        padding: 2rem 24px;
    }
}

@media only screen and (max-width: 376px) {
    .btn-main {
        width: 100%;
    }
}
