.movieCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    width: auto;
    float: left;
}

.movieImage {
    display: flex;
    height: 100%;
    width: 100%;
}

.movieImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.movieText {
    flex: 1;
    height: fit-content;
}

.movieYear {
    opacity: .8;
    margin: 8px 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.movieTitle {
    margin: 4px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



@media only screen and (max-width: 600px) {
    .movieYear{
        font-size: 15px;
    }

    .movieTitle {
        height: 36px;
        font-size: 16px;
        line-height: 18px;
    }
}