.navbarContainer {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #6037B3;
    padding: 10px 10rem;
}

.navbarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarImg {
    border-radius: 4px;
}

.navbarLogo h2 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f5f5f5;
}

.navbarLinks {
    gap: 1rem;
    display: flex;
    align-items: center;
    transition: .25s ease-in-out;
}

.navbarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    color: #f5f5f5;
    transition: .2s;
    background: transparent;
}
.navbarLink:hover {
    background: #552d9e;
}
.navbarLink:active {
    background: #6136b1;
}

.navbarLink span {
    font-family: 'Montserrat';
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 8px;
}

.menu {
    cursor: pointer;
    color: #F5F5F5;
}


/* Media Query */
@media only screen and (max-width: 1600px) {
    .navbarContainer {
        padding: 10px 6rem;
    }
}

@media only screen and (max-width: 768px) {
    .navbarLinks {
        position: absolute;
        right: -100%;
        top: 60px;
        padding: 2rem 0;
        flex-direction: column;
        background-color: #6037B3;
        border-bottom-left-radius: 1rem;
    }

    .navbarLink {
        width: 100%;
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .navbarContainer {
        padding: 10px 2rem;
    }
    
    .navbarLogo h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .navbarContainer {
        padding: 10px 20px;
    }
}


@media only screen and (min-width: 769px) {
    .menu {
        display: none;
    }
}