@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    color: #606060;
    background: #ececec;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/* ==== Custom Scrollbar ==== */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}


/* === Text === */
.main {
    margin: 36px 0 72px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    color: #663AB7;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 36rem;
    margin: 0;
}

.main-text::before, .main-text::after {
    content: "";
    height: 1px;
    display: block;
    margin-top: 10px;
    margin-bottom: 12px;
    background: linear-gradient(to right, rgba(42, 42, 42, 0) 0%, rgb(148, 148, 148) 50%, rgba(66, 66, 66, 0) 100%);
}

.secondary-text {
    color: #663AB7;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}

.text-center {
    text-align: center;
}

.movieYear {
    margin: 8px 0;
    font-weight: 500;
    letter-spacing: 1px;
}


/* === Carousel === */
.slider {
    margin: 48px 0;
}

.sectionTitle {
    height: auto;
    color: #663AB7;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 12px;
    border-left: 4px solid #52299e;
}

.carousel {
    overflow: hidden;
}

.inner-carousel {
    display: flex;
}

.item {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-right: 24px;
    margin-top: 4px;
    border-radius: 1rem;
}

.item img {
    max-width: 240px;
    max-height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.movieTitle {
    margin: 4px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


/* Media Query */
@media only screen and (max-width: 600px) {
    .item img {
        max-width: 180px;
        max-height: 260px;
    }
}