.container {
    padding: 3rem 6rem;
}

.popular {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.popular img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/* Media Query */
@media only screen and (max-width: 1080px) {
    .container {
        padding: 2rem 4rem;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 1rem 2rem;
    }
}