.popular {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.popular img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.loadingWrapper {
    width: 100%;
    display: block;
}

.resultText {
    font-weight: 500;
    letter-spacing: 1px;
}

.noResult {
    opacity: .8;
    width: 100%;
    letter-spacing: 1px;
}

.searchWrapper {
    padding: 0 10px 1rem 10px;
}

.searchInput {
    width: 100%;
    height: fit-content;
    border: none;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
    font-size: 22px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    outline: none;
    border-radius: 2rem;
    transition: .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
    background: url(/icons8_search.svg);
    background-repeat: no-repeat;
    background-position: 1.5rem;
}

.searchInput:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.searchSvg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchSvg p {
    opacity: .9;
    margin: 2rem 0;
    font-size: large;
    letter-spacing: 1px;
}



/* Media Query */
@media only screen and (max-width: 1600px) {
    .popular {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 1366px) {
    .popular {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1080px) {
    .container {
        padding: 2rem 4rem;
    }

    .popular {
        grid-template-columns: repeat(3, 1fr);
    }

    .search, .searchInput {
        width: 100%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 820px) {
    .popular {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 1rem 2rem;
    }

    .popular {
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }
}

@media only screen and (max-width: 440px) {
    .searchInput {
        font-size: 16px;
        padding: 1rem 3rem;
        background-position: 1rem;
    }
}