.imgContainer {
    flex: 2;
}

.imgContainer span {
    border-radius: 1rem;
}

.castImg {
    flex: 1;
}

.movieImg {
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.movieDetail {
    flex: 4;
    margin: 2rem 0;
}

.movieDetail h1 {
    margin: 0;
}

.movieDetail h1 span {
    opacity: .75;
    font-weight: 500;
    margin-left: 8px;
    letter-spacing: 1px;
}

.movieGenre {
    opacity: .8;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
}

.cast {
    margin-top: 2rem;
}

.cast h3 {
    margin-bottom: 0;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.castWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.castBox {
    width: 150px;
    outline: none;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.castBox span {
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.castBox:hover {
    background: #6037B3;
    color: #f5f5f5;
}

.castBox:hover span {
    box-shadow: rgba(255, 255, 255, 0.75) 0px 0px 8px 0px;
}

.castBox p {
    margin: 4px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.castImg {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.movieRating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.movieRating p {
    margin: 0;
    margin-bottom: -2px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #888888;
}

.synopsis {
    margin: 2rem 0;
}

.synopsis h3 {
    margin-bottom: 0;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.synopsis p {
    opacity: .8;
    width: 90%;
}

.media h3 {
    margin-bottom: 1rem;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.personal {
    margin-top: 3rem;
}

.personal h3 {
    margin-bottom: 1rem;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.personalWrapper {
    display: flex;
    flex-wrap: wrap;
}

.personalItem {
    min-width: 200px;
    margin-right: 2rem;
    margin-bottom: 10px;
}

.personalItem h4 {
    opacity: .8;
    width: 100%;
    margin: 4px 8px 4px 0;
}

.personalItem p {
    margin: 0;
    width: 100%;
}

.biography {
    overflow: auto;
    max-height: 200px;
    line-height: 20px;
    padding-right: 4px;
}

.bottomSection {
    display: flex;
    margin-top: 2rem;
    position: relative;
}

.bottomSection h3 {
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.left {
    flex: 70%;
    margin-right: 2rem;
}

.authorBox {
    display: flex;
}

.authorBox span {
    border: 1px solid #d4d4d4 !important;
    border-radius: 50%;
}

.autorName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.reviewBox {
    background: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 8px;
    border: 2px solid #dddddd;
}

.reviewBox h4 {
    margin: 0;
    font-size: 18px;
    color: #747474;
    letter-spacing: 1px;
}

.reviewBox small {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
}

.reviewContent {
    line-height: 22px;
    margin-top: 1rem;
}

.reviewBox button {
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    color: #52299e;
    letter-spacing: .5px;
    background: transparent;
    text-decoration: underline;
}

.right {
    flex: 30%;
}

.similarMovie {
    display: flex;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #ffffff;
    transition: .2s;
}

.similarMovie:hover {
    border: 2px solid #d4d4d4;
}

.similarMovie:hover span {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 6px 0px;
}

.similarMovie span {
    flex: 30%;
    border-radius: 8px;
}

.similarImg {
    padding: 8px;
    padding-bottom: 4px;
    border-radius: 8px;
}

.similarDetails {
    flex: 70%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.similarDetails p {
    margin: 0;
    margin-bottom: 8px;
}

.similarYear {
    font-weight: 500;
    opacity: .8;
}

.similarTitle {
    font-weight: 600;
    font-size: 17px;
    opacity: .9;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.similarOverview {
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin: 0 !important;
}




@media screen and (max-width: 1366px) {
    .movieDetail {
        flex: 2;
    }

    .movieDetail h1 {
        font-size: 24px;
    }

    .synopsis p {
        width: 100%;
    }

    .trailer {
        width: 100%;
        height: 360px;
    }
}

@media screen and (max-width: 992px) {
    .bottomSection {
        display: block;
    }

    .left {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .right {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .imgContainer span {
        height: 62vh !important;
    }

    .castBox {
        width: 148px;
        padding: 4px;
    }

    .birthday div p {
        font-size: 15px;
    }

    .similarMovie {
        margin: 0;
        margin-bottom: 8px;
    }

    .similarOverview {
        font-size: 14px;
    }
}



@media only screen and (min-width: 2160px) {
    .imgContainer span {
        height: 75vh !important;
    }
}

@media only screen and (min-width: 991px) {
    .root {
        display: flex;
    }

    .imgContainer span {
        width: 100% !important;
    }

    .movieDetail {
        margin: 0 3rem;
    }
}