.imgContainer {
    flex: 2;
}

.imgContainer span {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.castImg {
    flex: 1;
}

.movieImg {
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.movieDetail {
    flex: 4;
    margin: 2rem 0;
}

.movieDetail h1 {
    margin: 0;
}

.movieDetail h1 span {
    opacity: .75;
    font-weight: 500;
    margin-left: 8px;
    letter-spacing: 1px;
}

.movieGenre {
    opacity: .8;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
}

.cast {
    margin: 2rem 0;
}

.cast h3 {
    margin-bottom: 0;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.castWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
}

.castBox {
    width: 152px;
    outline: none;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.castBox span {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.castBox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.castBox p {
    margin: 4px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.castImg {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.synopsis {
    margin: 2rem 0;
}

.synopsis h3 {
    margin-bottom: 0;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.synopsis p {
    opacity: .8;
    width: 90%;
}

.media h3 {
    margin-bottom: 16px;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.birthday {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

.birthday div {
    display: flex;
    align-items: center;
}

.biography {
    overflow: auto;
    max-height: 280px;
    line-height: 20px;
    padding-right: 4px;
}



@media screen and (max-width: 1366px) {
    .movieDetail {
        flex: 2;
    }

    .movieDetail h1 {
        font-size: 24px;
    }

    .synopsis p {
        width: 100%;
    }

    .trailer {
        width: 100%;
        height: 360px;
    }
}

@media screen and (max-width: 450px) {
    .imgContainer span {
        height: 62vh !important;
    }

    .castBox {
        width: 148px;
        padding: 4px;
    }
}



@media only screen and (min-width: 2160px) {
    .imgContainer span {
        height: 75vh !important;
    }
}

@media only screen and (min-width: 991px) {
    .root {
        display: flex;
    }

    .imgContainer span {
        width: 100% !important;
    }

    .movieDetail {
        margin: 0 3rem;
    }
}