.genreContainer {
    margin-bottom: 24px;
    overflow-x: hidden;
    position: relative;
}

.genreContainer::after {
    content: '';
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.genreSlider {
    display: flex;
    align-items: center;
}

.genreSlider p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    width: max-content;
}

.genreItem {
    cursor: pointer;
    padding: 5px 15px;
    background: #ffffff;
    border-radius: 1rem;
    border: 2px solid #666666;
    transition: .2s ease;
}

.genreItem:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.genreActive {
    cursor: pointer;
    color: #f4f4f4;
    padding: 5px 15px;
    border-radius: 1rem;
    border: 2px solid #663AB7;
    background: #663AB7;
    transition: .2s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}