.imgContainer {
    flex: 2;
}

.imgContainer span {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movieImg {
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.movieDetail {
    flex: 4;
    margin: 2rem 0;
}

.movieDetail h1 {
    margin: 0;
}

.movieDetail h1 span {
    opacity: .75;
    font-weight: 500;
    margin-left: 8px;
    letter-spacing: 1px;
}

.movieGenre {
    opacity: .8;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
}

.cast {
    margin: 3rem 0;
}

.cast h3 {
    margin-bottom: 0;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.castWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
}

.castBox {
    width: 128px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.castBox span {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.castBox p {
    margin: 0;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.castImg {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.synopsis {
    margin: 3rem 0;
}

.synopsis h3 {
    margin-bottom: 0;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}

.synopsis p {
    opacity: .8;
    width: 90%;
}

.media h3 {
    margin-bottom: 16px;
    padding-left: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 4px solid #52299e;
}


@media screen and (max-width: 1366px) {
    .movieDetail {
        flex: 2;
    }
    
    .synopsis p {
        width: 100%;
    }

    .trailer {
        width: 100%;
        height: 360px;
    }
}


@media only screen and (min-width: 991px) {
    .movieDetail {
        margin: 0 2rem;
    }

    .root {
        display: flex;
    }

    .movieDetail {
        margin: 0 2rem;
    }
}